* {
    background: #0d9e7a;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.logo {
    height: 58px;
    margin: 20px 0 0 30px;
}

main {
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
}

.input-text {
    background: #0d9e7a;
    border: none;
    color: #0A3871;
    font-weight: bold;
    height: 400px;
    margin-top: 30px;
    padding: 2px;
}

::placeholder {
    color: #0A3871;
}

.input-text:focus {
    outline: none;
}

.information-box {
    align-items: center;
    height: 18px;
    display: flex;
    gap: 8px;
}

.information-box img{
    width: 18px;
    height: 18px;
}

.information-box p {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    width: 270px;
    line-height: 150%;
}

.button-box {
    display: flex;
    gap: 24px;
    height: 60px;
    margin-top: 18px;
    width: 680px;
}

.btn-encode {
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 22px;
    height: 100%;
    transition: 1s;
    width: 320px;
}

.btn-encode:hover {
    background: #0f61c5;
    transform: scale(0.9);
}

.btn-decode {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    font-size: 22px;
    height: 100%;
    transition: 1s;
    width: 320px;
}

.btn-decode:hover {
    background: #0f61c5;
    transform: scale(0.9);
}

.output-text {
    background: #D8DFE8;
    background-image: url(./images/Doll.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    height: 540px;
    margin-left: 98px;
    position: fixed;
}

.output-text:focus{
    outline: none;
}

.btn-copy {
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    cursor: pointer;
    height: 60px;
    font-size: 22px;
    margin-left: 170px;
    margin-top: 472px;
    position: absolute;
    transition: 1s;
    width: 240px;
}

.btn-copy:hover {
    background: #0f61c5;
    transform: scale(0.9);
}

/* .found-message {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 10px;
    position: fixed;
}

.instructions {
    text-align: center;
    font-size: 18px;
}

footer {
    position: absolute;
    margin-top: 500PX;
} */
